html, body {
  --bg-col: rgb(0, 0, 0);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-col);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: var(--bg-col);
  display: block;
}
